<header>
  <div class="container">
    <div class="header-logo">
      <img class="logo" src="../../assets/logo.png" alt="logo">
      <img class="logo-hover" src="../../assets/logo-hover.png" alt="logo-hover">
    </div>

    <div class="header-actions">
      <ul>
        <li>
          <span class="material-symbols-outlined">
            search
            </span>
        </li>
        <li>
          <span class="material-symbols-outlined">
          login
          </span>
        </li>
        <li>
          <span class="material-symbols-outlined">
          person
          </span>
        </li>
      </ul>
    </div>
  </div>
</header>
