<header>
  <div class="container">
    <div class="header-logo">
      <h1 class="logo">Screenflix</h1>
    </div>
    <div class="header-actions">
      <ul>
        <li>
          <span class="material-symbols-outlined">
            search
          </span>
          <p>search</p>
        </li>
        <!-- <li>
          <span class="material-symbols-outlined">
            login
          </span>
        </li> -->
        <li>
          <span class="material-symbols-outlined">
            person
          </span>
          <p>name</p>
        </li>
      </ul>
    </div>
  </div>
</header>
