header {
  width: 100%;
  height: var(--header-height);
  border-bottom: var(--border-width) solid var(--border-color);
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); // Ombra per effetto elevato

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  .logo {
    font-weight: 900;
    font-size: var(--font-lg);
    color: var(--color-red);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover{
      color: var(--color-white);
    }
  }

  .header-menu {
    width: 75%;
  }

  .header-actions {
    li {
      padding: 10px 15px;
      text-align: center;

      span{
        font-size: var(--font-md);
        margin-bottom: -5px;
      }
      p {
        margin-top: -5px;
        font-size: var(--font-xs);
      }
    }
  }

}
